@font-face {
  font-family: 'Gellix';
  src: url('gellix/Gellix-Regular.woff2') format('woff2'),
      url('gellix/Gellix-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gellix';
  src: url('gellix/Gellix-Medium.woff2') format('woff2'),
      url('gellix/Gellix-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gellix';
  src: url('gellix/Gellix-SemiBold.woff2') format('woff2'),
      url('gellix/Gellix-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
